
server:
  port: 8084
  servlet:
    context-path: /shipping-service
  shutdown: graceful
  graceful-shutdown:
    timeout: 30s

spring:
  application:
    name: shipping
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5432}/${POSTGRES_DB:shippingdb}
    username: ${POSTGRES_USER:shippinguser}
    password: ${POSTGRES_PASSWORD:shippingpassword}
    driver-class-name: org.postgresql.Driver
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      maximumPoolSize: 5
      minimumIdle: 1
      idleTimeout: 30000
      maxLifetime: 1800000
      connectionTimeout: 30000
      pool-name: shipping-HikariCP
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        default_schema: shipping
        dialect: org.hibernate.dialect.PostgreSQLDialect
  jackson:
    serialization:
      write-dates-as-timestamps: false
    date-format: com.fasterxml.jackson.datatype.jsr310.ser.LocalDateTimeSerializer

  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: 5672
    username: guest
    password: guest
    virtual-host: /

  flyway:
    default-schema: shipping

  kafka:
    bootstrap-servers: ${KAFKA_SERVER:localhost:9092}
    consumer:
      auto-offset-reset: earliest
      enable-auto-commit: true
      bootstrap-servers: ${KAFKA_SERVER:localhost:9092}
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      properties:
        spring.json.trusted.packages: '*'
        spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer

applications:
  user-management:
    host: ${USER_MANAGEMENT_HOST:http://localhost:8082/user-management-service}
  bookstore:
    host: ${BOOKSTORE_HOST:http://localhost:8080/bookstore-service}
  courier-companies:
    host: ${COURIER_HOST:http://localhost:3001/v1/courier/quotes}

resilience4j:
  retry:
    instances:
      courierQuotes:
        maxAttempts: 5
        waitDuration: 1s
        enableExponentialBackoff: true
        exponentialBackoffMultiplier: 2
        enableRandomizedWait: true
        randomizedWaitFactor: 0.5
        retryExceptions:
          - java.util.concurrent.TimeoutException
          - org.springframework.web.client.HttpServerErrorException

logging:
  level:
    org.springframework: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.springframework.data.redis: INFO
    org.springframework.data.mongodb.core.MongoTemplate: DEBUG

management:
  info:
    application:
      name: shipping-service
      description: Shipping Service
    javaVersion: ${java.version}
    javaVendor: ${java.vendor}
    env:
      enabled: true
    build:
      enabled: true
    java:
      enabled: true
    os:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always            
  tracing:
    sampling:
      probability: '0.5'

springdoc:
  swagger-ui:
    path: /swagger-ui.html