server:
  port: 8081
  servlet:
    context-path: /email-sender-service
  shutdown: graceful  # habilita shutdown gracioso
  graceful-shutdown:
    timeout: 30s

spring:
  application:
    name: email-sender
  data:
    mongodb:
      uri: mongodb://${MONGODB_USER:root}:${MONGODB_PASSWORD:root}@${MONGODB_HOST:localhost:27017}/shippingdb?authSource=admin
  mail:
    host: ${MAILHOG_HOST:localhost}
    port: 1025
    username: dummy
    password: dummy
    from: support@bookstore.com
    properties:
      mail.smtp.auth: false
      mail.smtp.starttls.enable: false

  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: 5672
    username: guest
    password: guest
    virtual-host: /

  amqp:
    deserialization:
      trust:
        all: true

logging:
  level:
    org.springframework: INFO

applications:
  user-management:
    host: ${USER_MANAGEMENT_HOST:http://localhost:8082}

management:
  info:
    application:
      name: email-sender-service
      description: Email sender service
    javaVersion: ${java.version}
    javaVendor: ${java.vendor}
    env:
      enabled: true
    build:
      enabled: true
    java:
      enabled: true
    os:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always            
  tracing:
    sampling:
      probability: '0.5'

springdoc:
  swagger-ui:
    path: /swagger-ui.html