services:
  nginx-server:
    image: nginx:alpine
    container_name: nginx-server
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ../../applications/bookstore-app/:/usr/share/nginx/html/bookstore/:ro
      - ../../applications/dashboard-app/:/usr/share/nginx/html/dashboard/:ro
      - ../configs/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ../configs/nginx/conf.d:/etc/nginx/conf.d/:ro
      - ../data/nginx:/var/log/nginx
    networks:
      - infra_network

  healthcheck-app:
    image: healthcheck-app-service:latest
    container_name: healthcheck-app
    volumes:
      - ../configs/nginx/healthcheck/applications.json:/app/config/applications.json
    networks:
      - infra_network

networks:
  infra_network:
    external: true      